@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header class="custom-header text-white text-center py-5" >
        <div class="custom-header text-white text-center py-5" style="background-color: #8c52ff;">
            <div class="container" style="background-color: #8c52ff">
                <div class="container px-4 text-center">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3">
                                <img src="https://amazing-wisp-a81144.netlify.app/icon1.png" style="width: 140px; height: 140px;" />
                            </div>
                        </div>
                        <div class="col" style="padding-right: 600px;">
                            <div class="p-3">
                                <h1>Bem-vindo ao SmartStock!</h1>
                                <p>Explore mais do que oferecemos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <br />

    <!-- Seção de conteúdo -->
    <main class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://cdn.icon-icons.com/icons2/2217/PNG/512/augmented_reality_computer_developer_coding_programming_icon_134250.png" class="card-img-top" alt="Imagem 1" style="height: 80%; width: 80%; padding-left: 50px;">
                    <div class="card-body">
                        <br />
                        <h5 class="card-title">Facilidade</h5>
                        <br />
                        <p class="card-text">Com a SmartStock, você ganha facilidade ao interagir com o nosso produto, tornando suas tarefas mais rápidas e descomplicadas.</p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images.pexels.com/photos/12234107/pexels-photo-12234107.jpeg" class="card-img-top" alt="Imagem 2">
                    <div class="card-body">
                        <br />
                        <h5 class="card-title">Gerenciamento de Estoque Sem Complicação</h5>
                        <br />
                        <p class="card-text" style="padding-bottom: 16px;">Com a SmartStock, você tem um controle de estoque organizado e eficiente, simplificando sua gestão e garantindo precisão em cada operação.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <br />
                    <img src="https://www.pontaporainforma.com.br/wp-content/uploads/2022/02/Pequenos-negocios-lucrativos-696x380.jpg" class="card-img-top" alt="Imagem 3">
                    <div class="card-body">
                        <br />
                        <h5 class="card-title">Gestão de Estoque Sem Custos</h5>
                        <br />
                        <p class="card-text" style="padding-bottom: 64px;">Com o SmartStock, organize seu estoque de forma eficiente e totalmente gratuita, sem taxas ou complicação!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
