@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Título da Página</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
</head>
<body>

    <div class="div_main">
        <div class="div_central">
            <div class="div_logo">
            
            </div>

            <div class="div_card">
                <div class="div_login_content">
                    <h1 class="title_login">LOGIN</h1>

                    <input type="text" placeholder="E-mail" class="input_login" name="email">

                    <input type="password" placeholder="Senha" class="input_login" name="senha">
                    
                    <input type="button" value="Entrar" class="button_login" onclick="login
                    (event)">

                    <a href="#">Resgatar Senha</a>

                    <a href="" target="_blank">Cadastrar-se</a>

                </div>

                <div class="div_login_image">

                </div>
            </div>
        </div>
    </div>

</body>
