@{
    ViewData["Title"] = "Sucesso";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Efetuado</title>
     <link rel="stylesheet" href="~/css/Sucesso.css">
</head>
<body>
    <div>
        <div class="container">
            <h2>O registro foi efetuado com sucesso.</h2>
        </div>
    </div>
</body>
</html>