@model TabelaDeProdutoView
@{
    ViewData["Title"] = "Lista de produtos";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/tabeladeproduto.css">
    <title>Lista de produtos</title>
</head>
<body>
    <h1>Lista de produtos -</h1>

    @foreach (var produto in Model.produtos)
    {
       <form><tr> 
            <td>@produto.nome</td>
            <td>@produto.categoria</td>
      </tr> </form>
        <br>
    }


</body>
</html>